@{
    ViewData["Title"] = "ExampleController Index Page";
    Layout = "ExampleLayout";
}

@section header
{
    <div>Bu kodlar header altına eklenecek</div>

}

<div>ExampleController -> Index Page</div>

@section footer
{
    <div>Bu kodlar footer altına eklenecek</div>
}
