
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
<p>Bu sayfa layout sayfalarından beslenmemektedir</p>

<partial name="_MenuPartialView" />
</body>
</html>
